{% extends 'base.html' %}
{% load bootstrap_icons %}

{% block content %}

    <h1>Carrito de la Compra</h1>


    <table class="table">
        <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Nombre</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Precio</th>
        </tr>
        </thead>
        <tbody>

        {% for k,v in carrito.items %}
            <tr>
                <th>
                    <img class="avatar" src="{{ k.foto }}"
                         alt="{{ k.id }}">
                </th>
                <th>{{ k.nombre }}</th>
                <th>{{ k.descripcion }}</th>
                <th>{{ v }}</th>
                <th>{{ k.precio }} €</th>
            </tr>

        {% endfor %}
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th> <b>TOTAL DE LA COMPRA</b></th>
            <th>{{ total }} €</th>
        </tr>


        </tbody>
    </table>


    <a href="#">
        <button class="btn-amargura">{% bs_icon 'clipboard-plus' %} Completar Compra</button>
    </a>








{% endblock %}