{% extends 'base.html' %}
{% load bootstrap_icons %}
{% load static %}

{% block content %}
    <h1>Composiciones Musicales</h1>

    <div class="container text-center">


        {% for c in composiciones %}
            <div class="row">

                <div class="card mb-12">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="{% static 'images/fondo_composiciones.png' %}" class="custom-img"
                                 alt="...">
                        </div>
                        <div class="col-md-5">
                            <div class="card-body">
                                <h5 class="card-title">{{ c.nombre }}</h5>
                                <p class="card-text">{{ c.autor }}</p>
                                <p class="card-text"><small class="text-muted">{{ c.fecha_creacion }}</small></p>
                            </div>
                        </div>
                        <div class="col-md-2  alinear-final">
                            <div class="row centrar" >
                                <div class="col-md-6">
                                    <a href="{% url 'new_composicion' id=c.id %}" class="mb-2">
                                        <button class="btn-amargura">{% bs_icon 'pen' %}</button>
                                    </a>
                                </div>
                                <div class="col-md-6">
                                    <a href="{% url 'eliminar' id=c.id %}">
                                        <button class="btn-amargura">{% bs_icon 'trash' %}</button>
                                    </a>

                                </div>


                            </div>

                        </div>

                    </div>
                </div>


            </div>
            <br>


        {% endfor %}


    </div>


    <a href="{% url 'new_composicion' id=0 %}">
        <button class="btn-amargura">Crear Composición</button>
    </a>





{% endblock %}