{% extends 'base.html' %}
{% load bootstrap_icons %}

{% block content %}
    <h1>
        {% if form.instance.pk %}
            Editar
        {% else %}
            Crear
        {% endif %}
        Hermano
    </h1>


    <form method="POST">
        {% csrf_token %}

        <div class="form-floating mb-3">
            {{ form.nombre }}
            <label for="inputnombre">{% bs_icon 'person' %} Nombre</label>
        </div>

        <div class="form-floating mb-3">
            {{ form.apellidos }}
            <label for="inputapellidos">{% bs_icon 'person-circle' %} Apellidos</label>
        </div>

        <div class="form-floating mb-3">
            {{ form.dni }}
            <label for="inputdni">{% bs_icon 'person-vcard' %} DNI</label>
        </div>

        <div class="form-floating mb-3">
            {{ form.mail }}
            <label for="floatingInput">{% bs_icon 'envelope' %} Email</label>
        </div>

        <div class="form-floating mb-3">
            <input type="date" class="form-control" id="inputfechaNacimiento"
                   name="{{ form.fecha_nacimiento.name }}"
                   value="{{ form.fecha_nacimiento.value|default:''|date:'Y-m-d' }}">
            <label for="inputfechaNacimiento">{% bs_icon 'calendar' %} Fecha de Nacimiento</label>
        </div>


        <br>

        {% if form.errors %}
            <div class="alert alert-danger">
                {% for field, errors in form.errors.items %}
                    {% for error in errors %}
                        <label style="display:flex; text-justify:auto;text-align: left">{{ error }}</label>
                    {% endfor %}
                {% endfor %}
            </div>
        {% endif %}

        <br>
        <button type="submit" class="btn-amargura">
            {% if form.instance.pk %}Actualizar{% else %}Guardar{% endif %}
        </button>
        <br>


    </form>



    {#    <form method="POST">#}
    {#        {% csrf_token %}#}
    {#        {{ form.as_p }}#}
    {#        <button type="submit" class="btn btn-primary">Guardar</button>#}
    {#    </form>#}


    {#    <form>#}
    {#        <div class="form-floating mb-3">#}
    {#            <input type="text" class="form-control" id="inputnombre" placeholder="nombre">#}
    {#            <label for="inputnombre">{% bs_icon 'person' %} Nombre</label>#}
    {#        </div>#}
    {#        <div class="form-floating mb-3">#}
    {#            <input type="text" class="form-control" id="inputapellidos" placeholder="apellidos">#}
    {#            <label for="inputapellidos">{% bs_icon 'person-circle' %} Apellidos</label>#}
    {#        </div>#}
    {#         <div class="form-floating mb-3">#}
    {#            <input type="text" class="form-control" id="inputdni" placeholder="apellidos">#}
    {#            <label for="inputdni">{% bs_icon 'person-vcard' %} Dni</label>#}
    {#        </div>#}
    {#        <div class="form-floating mb-3">#}
    {#            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">#}
    {#            <label for="floatingInput">{% bs_icon 'envelope' %} Email address</label>#}
    {#        </div>#}
    {#          <div class="form-floating mb-3">#}
    {#            <input type="date" class="form-control" id="inputfechaNacimiento" placeholder="fecha de nacimiento">#}
    {#            <label for="inputfechaNacimiento">{% bs_icon 'calendar' %} Fecha de Nacimiento</label>#}
    {#        </div>#}
    {#        <br>#}
    {#        <button type="submit" class="btn-amargura">Guardar</button>#}
    {#    </form>#}

{% endblock %}