{% extends 'base.html' %}
{% load bootstrap_icons %}

{% block content %}

    <form method="post">

        {% csrf_token %}

        <div class="mb-3">
            <label for="inputNombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="inputNombre"
                   name="nombre" placeholder="nombre" value="{{ composicion.nombre | default:'' }}">
        </div>
        <div class="mb-3">
            <label for="inputAutor" class="form-label">Autor</label>
            <input type="text"
                   name="autor_de_composicion"
                   class="form-control" id="inputAutor" placeholder="autor" value="{{ composicion.autor | default:'' }}">
        </div>
        <div class="mb-3">
            <label for="inputFecha" class="form-label">Fecha</label>
            <input type="date"
                   name="fecha"
                   value="{{ composicion.fecha_creacion|date:'Y-m-d' }}"
                   class="form-control" id="inputFecha" placeholder="fecha composición">
        </div>

        <button type="submit" class="btn-amargura">Guardar</button>


    </form>


{#    value="{{ composicion.nombre|default:'' }}#}
{#    {{ composicion.fecha_creacion|date:'Y-m-d' }}#}


{% endblock %}