{% extends "base.html" %}
{% load bootstrap_icons %}
{% load static %}
{% block content %}
    <h1>{% if papeleta.id %}Editar{% else %}Crear{% endif %} Papeleta de Sitio</h1>
    <br>
    <div class="row">
        <div class="col-md-5">
            <img class="cubrir-contenedor"
                 src="https://static.grupojoly.com/clip/f9d13b75-a786-4f28-a0a4-9aef3f39e1ea_source-aspect-ratio_1600w_0.jpg"
                 style="max-height: 400px; max-width: 400px" alt="Papeleta de Sitio">
        </div>

        <div class="col-md-7">
            <br>
            <form method="post">
                {% csrf_token %}

                <!-- Código con label flotante -->
                <div class="form-floating mb-3">
                    {{ form.codigo }}
                    <label for="{{ form.codigo.id_for_label }}">Código de la papeleta</label>
                </div>

                <!-- Tipo con label flotante -->
                <div class="form-floating mb-3">
                    {{ form.tipo }}
                    <label for="{{ form.tipo.id_for_label }}">Tipo</label>
                </div>

                <!-- Hermano con label flotante -->
                <div class="mb-3 position-relative">
                    {{ form.hermano }}
                    <label for="{{ form.hermano.id_for_label }}"
                           class="form-label floating-label">{% bs_icon 'person' %}
                        Selecciona Hermano</label>

                </div>

                <button type="submit" class="btn-amargura">
                    {% if papeleta.id %}Actualizar{% else %}Crear{% endif %}
                </button>
            </form>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('#id_hermano').select2({
                theme: 'bootstrap-5',
                width: '100%',
            });
        });
    </script>
{% endblock %}
