{% extends 'base.html' %}
{% load bootstrap_icons %}

{% block content %}

    <h1>Listado de Hermanos</h1>
    
  
   
        <form method="get">
          <div class="row centrar">
                 <div class="col-md-10">
                  <input id="busqueda" name="busqueda" class="form-control" type="text" value="{{ busqueda }}">
                 </div>
                  <div class="col-md-1">
                   <input type="submit" class="btn-amargura" value="Buscar">
                 </div>
          </div>
            
        </form>
    
    
   


    <table class="table">
        <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellidos</th>
            <th scope="col">Dni</th>
            <th scope="col">Mail</th>
            <th scope="col">Fecha Nacimiento</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>

        {% for h in hermanos %}
            <tr>
                <th>
                    <img  class="avatar" src="https://cdn-icons-png.flaticon.com/512/6386/6386976.png"
                          alt="{{ h.nombre }} , {{ h.apellidos }}">
                </th>
                <th>{{ h.nombre }}</th>
                <th>{{ h.apellidos }}</th>
                <th>{{ h.dni }}</th>
                <th>{{ h.mail }}</th>
                <th>{{ h.fecha_nacimiento|default:''|date:'d/m/Y' }}</th>

                <th>
                    <a href="{% url 'hermanos_gestion' id=h.id %}">
                        <button class="btn-amargura">{% bs_icon 'pen' %}</button>
                    </a>
                    <a href="{% url 'eliminar_hermano' id=h.id %}">
                        <button class="btn-amargura">{% bs_icon 'trash' %}</button>
                    </a>
                </th>
            </tr>

        {% endfor %}


        </tbody>
    </table>
    
   <nav aria-label="Paginación">
    <ul class="paginacion-personalizada">
        {% if hermanos.has_previous %}
            <li><a href="?page={{ hermanos.previous_page_number }}&busqueda={{ busqueda }}">«</a></li>
        {% else %}
            <li class="disabled"><span>«</span></li>
        {% endif %}

        {% for num in hermanos.paginator.page_range %}
            {% if hermanos.number == num %}
                <li class="activo"><span>{{ num }}</span></li>
            {% else %}
                <li><a href="?page={{ num }}&busqueda={{ busqueda }}">{{ num }}</a></li>
            {% endif %}
        {% endfor %}

        {% if hermanos.has_next %}
            <li><a href="?page={{ hermanos.next_page_number }}&busqueda={{ busqueda }}">»</a></li>
        {% else %}
            <li class="disabled"><span>»</span></li>
        {% endif %}
    </ul>
</nav>


    <a href="{% url 'hermanos_gestion' id=0 %}">
        <button class="btn-amargura">{% bs_icon 'clipboard-plus' %} Registrar Hermano</button>
    </a>








{% endblock %}