{% load bootstrap_icons %}
{% load static %}

{% block header %}
    <nav class="navbar navbar-dark bg-dark fixed-top">
        <div class="container-fluid d-flex justify-content-between align-items-center">
            <!-- Logo alineado a la izquierda -->
            <div class="d-flex align-items-center">
                <img src="{% static 'images/Hermandad_Amargura_Escudo.png' %}" alt="Logo" width="60" height="60">
            </div>

            <!-- Título centrado -->
            <div class="flex-grow-1 text-center">
            <span class="main-title">
                Hermandad de La Amargura
            </span>
            </div>

            <!-- Espaciador para equilibrar la distribución -->
            <div style="width: 60px;"></div>
        </div>


        {% if user.is_authenticated %}
            <!-- Botón del menú lateral -->
            <button class="navbar-toggler position-absolute end-0 me-3" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
        {% endif %}


        <!-- Menú lateral -->
        <div class="offcanvas offcanvas-end bg-dark" tabindex="-1" id="offcanvasDarkNavbar"
             aria-labelledby="offcanvasDarkNavbarLabel">
            <div class="offcanvas-header">
                <h1>Secciones</h1>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link special-text" aria-current="page" href="{% url 'home_page' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link special-text" href="{% url 'titulares' %}">Titulares</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link special-text" href="{% url 'templo' %}">Templo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link special-text" href="{% url 'junta_gobierno' %}">Junta de Gobierno</a>
                    </li>
                    {% if user.rol == 'admin' %}
                        <li class="nav-item">
                            <a class="nav-link special-text" href="{% url 'hermanos' %}">Hermanos</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link special-text" href="{% url 'cultos' %}">Cultos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link special-text" href="{% url 'composiciones' %}">Composiciones Musicales</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link special-text" href="{% url 'tienda' %}">Tienda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link special-text" href="{% url 'ver_carrito' %}">Carrito</a>
                    </li>
                    {% if user.rol == 'admin' %}
                        <li class="nav-item">
                            <a class="nav-link special-text" href="{% url 'papeletas' %}">Gestión de Papeletas de
                                Sitio</a>
                        </li>
                    {% endif %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle special-text"
                           href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Otras Secciones
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li><a class="dropdown-item special-text" href="">Galería</a></li>
                            <li><a class="dropdown-item special-text" href="#">Noticias</a></li>
                            <li><a class="dropdown-item special-text" href="#">Contacto</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link special-text" href="{% url 'logout' %}">{% bs_icon 'box-arrow-left' %}
                            Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}
